################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LearnDotNetConcepts/.vs/LearnDotNetConcepts
